@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

@theme{
    --color-primary: #1f6feb;
    --color-primary-dull: #1a5fcc;
    --color-secondary: #14b8a6;
    --color-accent: #f59e0b;

    --color-background: #f8fafc;
    --color-surface: #ffffff;
    --color-text: #0f172a;
    --color-muted: #64748b;
    --color-border: #e2e8f0;

    --color-success: #16a34a;
    --color-warning: #f59e0b;
    --color-danger: #ef4444;
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}